<mat-drawer-container class="example-container" autosize style="width: 100vw;">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <ul class='sidenav'>
      <li style="list-style-type: none;" class="mb-2"><a class="subheader">Радиус поиска (КМ)</a></li>
      <li style="list-style-type: none;" class="mb-2"><label class="m-0 w-100 pl-2">
        <input type="number" [(ngModel)]="radius" (input)="changeR()" placeholder="Введите число"/>
      </label></li>
      <li style="list-style-type: none;" class="mb-2"><a class="subheader">Фильтры</a></li>
      <li style="list-style-type: none;" class="mb-2" *ngFor="let tag of tags"><label class="m-0 w-100 pl-2">
        <input type="checkbox" [(ngModel)]="tag.isCheck" (change)="changeF()" class="mr-3"/>
        <span>{{tag.key}}</span>
      </label></li>
    </ul>
  </mat-drawer>

<header>
  <div class="position-absolute d-inline-flex" style="top: 0; left: 0; z-index: 50;">
    <nav class="z-depth-2 d-inline-block" style="border-bottom-right-radius: 16px; background: #666; overflow: hidden;">
      <a mat-button routerLink="/" class="text-white">
        <mat-icon>arrow_back</mat-icon><span class="d-none d-lg-inline">Главная</span>
      </a>
      <a mat-button class="text-white" data-toggle="modal" data-target="#exampleModals">
        <span class="d-none d-lg-inline">Поиск</span><mat-icon>search</mat-icon>
      </a>
      <a mat-button class="text-white" (click)="drawer.toggle()">
        <span class="d-none d-lg-inline">Фильтры</span><mat-icon>menu</mat-icon>
      </a>
    </nav>

<!--    <section class="pl-2">-->
<!--      <a href="/" mat-mini-fab>-->
<!--        <mat-icon>menu</mat-icon>-->
<!--      </a>-->
<!--    </section>-->
  </div>
</header>


  <div class="main-header"></div>
<main>
  <div #map style="width: 100vw; height: 100vh;"></div>

</main>

</mat-drawer-container>


<div class="modal fade text-black black-text" id="exampleModals">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="z-index: 2000; background: #666666;">
      <div class="modal-header">
        <h5 class="modal-title">Поиск адреса</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="inputRouterAddress">Адрес</label>
          <input type="text" class="form-control" id="inputRouterAddress" (change)="searchAddress($event)">
        </div>

        <div class="alert alert-success fade" id="addressAlerts">
          {{addresLabel}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <div style="width: fit-content;" (click)="finishRoutes()">
          <button type="button" class="btn btn-primary fade" data-dismiss="modal" id="closeModals">Перейти</button>
        </div>
      </div>
    </div>
  </div>
</div>
