.main-header-container {
  height: 100vh;
  position: relative;
  padding-top: 100px;
}
.main-header-back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  z-index: -1;
}
.main-header {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: url(/assets/zdesy.png) no-repeat center / cover;
}
.main-header-back2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;
  background: url(/assets/header.jpg) no-repeat center / cover;
}
.main-title {
  color: white;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
  padding: 0 10% 0 10%;

  transition-property: opacity, transform;
  transition-duration: 500ms;
}
#header-arrow {
  display: block;
  width: 40px;
  height: 40px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  cursor: pointer;

  transition-property: opacity, transform;
  transition-duration: 500ms;
}
.hide-header-elements {
  opacity: 0;
  /*transform: scale(0.8);*/
}
